<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{equipo.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let jugador of (jugadores | async)" [routerLink]="['/home/jugadores-list', jugador.id]">
      <ion-avatar><img src="{{jugador.Foto}}"></ion-avatar>
      &nbsp;{{jugador.Nombre}} {{jugador.Apellidos}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/home/equipos-list/equipos-info/equipo-jugadores', equipo.id]" (click)="guardar()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

