<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-button  slot="end" [routerLink]="['/home']" large>
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">{{jugador.Nombre}} &nbsp; {{jugador.Apellidos}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img src="{{jugador.Foto}}" style="width: 100%"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label button position="stacked" [routerLink]="['/home/equipos-list', jugador.Equipo]">Equipo</ion-label>
    <ion-input [(ngModel)]="jugador.Equipo"></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/home/equipos-list', jugador.EquipoId]">Ver Equipo</ion-button>
</ion-content>
<ion-footer>
  <ion-button color="secondary" expand="full">Actualizar</ion-button>
  <ion-button color="danger" expand="full" (click)="eliminarJugador()">Eliminar</ion-button>
</ion-footer>
