<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lista de jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-list>
    <ion-item>
      <ion-label>Filtrar por:</ion-label>
      <ion-select [(ngModel)]="pipeArg1" value="Nombre">
        <ion-select-option value="Nombre">Nombre</ion-select-option>
        <ion-select-option value="Apellidos">Apellidos</ion-select-option>
        <ion-select-option value="Equipo">Equipo</ion-select-option>
        <ion-select-option value="Numero">Número</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-searchbar [(ngModel)]="pipeArg2" showCancelButton="focus"></ion-searchbar>
    <ion-item *ngFor="let jugador of (jugadores | jugadoresPipe: pipeArg1:pipeArg2)" [routerLink]="['/home/jugadores-list', jugador.id]">
      <ion-avatar><img src="{{jugador.Foto}}"></ion-avatar>
      &nbsp;{{jugador.Nombre}} {{jugador.Apellidos}}
    </ion-item>
  </ion-list>
</ion-content>
