<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lista de jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-list>
    <ion-item *ngFor="let jugador of jugadores | jugadoresPipe: 'Nombre'" [routerLink]="['/home/jugadores-list', jugador.id]">
      <ion-avatar><img src="{{jugador.Foto}}"></ion-avatar>
      &nbsp;{{jugador.Nombre}}
    </ion-item>
  </ion-list>
</ion-content>
